@import './element-ui.scss';
@import './mixin.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/*!important 强制替换element默认样式*/
//设置上传框样式
.upload .el-upload{
  height: auto !important;
  min-height: 148px !important;
  width: auto !important;
  min-width: 148px !important;
  max-width: 560px !important;
}
//步骤条 宽度限制
.el-steps{
  min-width: 500px !important;
}
.el-step__description{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 450px !important;
}
//table 
.el-table .info-row {
  background: #8cbfdc !important;
}

.el-table .success-row {
  background: #9da6ab !important;
}
.el-table .warning-row {
  background: #f7ba2a !important;
}

.el-table .danger-row {
  background: #ff4949 !important;
}

.table-expand {
  font-size: 0 !important;
}
.table-expand label {
  width: 90px !important;
  color: #99a9bf !important;
}
.table-expand .el-form-item {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 50% !important;
}
.table-expand .el-form-item .el-form-item__content{
  width: 75% !important;
  
}
.el-table .cell {
  padding: 0 10px !important;
}
.app-main .el-menu .el-menu-item{
  border-bottom-width: 3px  !important;
}
.app-main .el-menu .is-active{
  border-bottom: 3px solid #20a0ff !important;
}